<br>
<h3>Lista Projects</h3>
<table class="table table.stripped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>FECHA DE INICIO</th>
            <th>FECHA DE FINALIZACIÓN</th>
            <th>PRESUPUESTO</th>
            <th style="text-align: center;">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aqui se recorren los projectos y se enlistan en la tabla-->
        <tr *ngFor="let Projects of projects">
            <td>{{Projects.id}}</td>
            <td>{{Projects.nombre}}</td>
            <td style="text-align: center;">{{Projects.fecha_inicio}}</td>
            <td style="text-align: center;">{{Projects.fecha_fin}}</td>
            <td>{{Projects.presupuesto}}</td>
            <td>
                
                <button  class="btn btn-info">Actualizar</button>
                <button class="btn btn-info" style="margin-left : 10px">Eliminar</button>
                <button class="btn btn-primary" style="margin-left : 10px">Detalles</button>
            
            </td>

        </tr>
    </tbody>
</table>