<h3>Lista Projects</h3>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>FECHA DE INICIO</th>
            <th>FECHA DE FINALIZACIÓN</th>
            <th>PRESUPUESTO</th>
            <th style="text-align: center;">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se recorren los proyectos y se enlistan en la tabla -->
        <tr *ngFor="let project of projects">
            <td>{{ project.id }}</td>
            <td>{{ project.nombre }}</td>
            <td style="text-align: center;">{{ project.fecha_inicio }}</td>
            <td style="text-align: center;">{{ project.fecha_fin }}</td>
            <td>{{ project.presupuesto | currency }}</td>
            <td style="text-align: center;">
                <!-- listar-projects.component.html -->
                <button (click)="verDetallesProyecto(project.id)" class="btn btn-primary" style="margin-right: 10px;">Detalles</button>
                
                <button (click)="actualizarProyecto(project.id)" class="btn btn-info">Actualizar</button>

                <button (click)="eliminarProject(project.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                <!-- Botón de detalles con la función verDetallesProyecto -->
                
            </td>
        </tr>
    </tbody>
</table>
