<h3 style="text-align: center;">Lista Proyectos</h3>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <div>
    <button class="btn btn-success" style="margin-bottom: 10px;">Agregar</button>
  </div>

  <!-- Barra de búsqueda -->
  <div class="form-group" style="flex-grow: 1; display: flex; align-items: center; justify-content: end;">
    <label for="searchTerm" style="margin-right: 10px;">Buscar Proyecto:</label>
    <input type="text" id="searchTerm" class="form-control" [(ngModel)]="searchTerm" placeholder="Buscar por nombre o fecha" (input)="buscarProyectos()" style="width: 250px;" />
  </div>
</div>
<hr>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th> <!-- Nueva columna para la numeración -->
      <th>Nombre</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Presupuesto</th>
      <th style="text-align: center;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of filteredProjects; let i = index">
      <td>{{ calcularIndice(i) }}</td> <!-- Calculamos el índice -->
      <td>{{ project.nombre }}</td>
      <td>{{ project.fecha_inicio }}</td>
      <td>{{ project.fecha_fin }}</td>
      <td>{{ project.presupuesto | currency }}</td>
      <td style="text-align: center;">
        <button class="btn btn-primary" style="margin: 0px 10px 0px 0px;" (click)="verDetallesProyecto(project.id)">Detalles</button>
        <button class="btn btn-info" style="margin: 0px 10px 0px 0px;" (click)="actualizarProyecto(project.id)">Actualizar</button>
        <button class="btn btn-danger" (click)="eliminarProject(project.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>


</table>
  <!-- Combobox para seleccionar la cantidad de registros por página -->
  <br>
  <div class="form-group" style="display: flex; align-items: center;">
    <label for="pageSize" style="padding-right: 10px;">Registros por página: </label>
    <select id="pageSize" class="form-control" [(ngModel)]="pageSize" (change)="onChangePageSize($event)" style="width: 50px;">
      <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
    </select>
  </div>
<!-- Paginación -->
<hr>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 0">
      <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let i of [].constructor(totalPages); let idx = index" [class.active]="currentPage === idx">
      <a class="page-link" (click)="cambiarPagina(idx)">{{ idx + 1 }}</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
      <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
