<div class="container">
    <h2>Registrar Nuevo Proyecto</h2>
  
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre del Proyecto:</label>
        <input type="text" id="nombre" [(ngModel)]="project.nombre" name="nombre" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="fecha_inicio">Fecha de Inicio:</label>
        <input type="date" id="fecha_inicio" [(ngModel)]="project.fecha_inicio" name="fecha_inicio" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="fecha_fin">Fecha de Fin:</label>
        <input type="date" id="fecha_fin" [(ngModel)]="project.fecha_fin" name="fecha_fin" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="presupuesto">Presupuesto:</label>
        <input type="number" id="presupuesto" [(ngModel)]="project.presupuesto" name="presupuesto" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-success" style="margin: 10px 10px 10px 0px;">Registrar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </form>
  </div>
  